

//======================================================================
// Colour Palette (cp)
//======================================================================
//$cp-text: #303030;
$cp-text: #303030;
//---- Primary
// Ref: https://www.color-hex.com/color-palette/737 : a comment suggested fff4d9.
// Ref: https://coolors.co/f4e7c6-eadcb9-fff4d9-c4baa1-8e8b83
$cp-p900: #8e8b83;
$cp-p800: #c4baa1;
$cp-p700: #eadcb9;
$cp-p600: #f4e7c6;
$cp-p500: #fff4d9;  // BASE
$cp-p300: #FFF8E5;  // hsb(43,10,100)
$cp-p200: #FFFBF2;  // hsb(43,5,100)
$cp-p100: $cp-p200;
//---- Accent
$cp-a800: #3659B2;  // hsb(223,70,70)
$cp-a700: #5972B2;  // hsb(223,50,70)
$cp-a500: #7486B2;  // hsb(223,35,70) BASE
$cp-a400: #8692B2;  // hsb(223,25,70)
$cp-a200: #989FB2;  // hsb(223,15,70)
$cp-a100: #A1A6B2;  // hsb(223,10,70)
//---- CFC Neutral
$cp-n900: hsl(39,85%,25%);
$cp-n700: hsl(39,85%,45%);
$cp-n500: hsl(39,85%,70%);
$cp-n400: hsl(39,85%,85%);
$cp-n300: hsl(39,85%,90%);
$cp-n200: hsl(39,85%,95%);
$cp-n100: hsl(39,85%,98%);

$primary: $cp-p700;
$primary-invert: $cp-text;
$link: $cp-p700;
$text: $cp-text;


// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

//---- Bulma Colour Vars
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$link: $pink;


//======================================================================
// Fonts
//======================================================================
// As recommended by Lighthouse, better performance if in <link> tag in the page's html.
//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300|IBM+Plex+Mono:300|Oswald:300|Material+Icons&display=swap');

$family-sans-serif: "IBM Plex Serif", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Oswald", serif;
$family-monospace: "IBM Plex Mono", monospace;

$body-size: 20px;

$title-color: $cp-text;
$content-heading-color: $cp-text;

.title, .subtitle, h1, h2, h3 {
  font-family: $family-secondary; }


//======================================================================
// Bulman Settings
//======================================================================
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #fff;  // $cp-p200;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

//---- Top Navbar (top of page, with CFC logo
$navbar-height: 1rem;
$navbar-item-img-max-height: 80px;
