{{- define "description" }}
{{- safeHTML (trim (plainify .Summary) " \n") -}}
{{- end }}
{{- define "main" }}
 <main class="container content pad-touch-only">
  <h1 class="title">{{ .Title }}</h1>
{{ partial "by-line.html" . }}
{{ partial "table-of-contents.html" . }}
{{ .Content }}
  <hr>
{{ partial "bnc-disqus" . }}
 </main>
{{ end }}
