{{- define "main" }}
{{- $list_blogs := first 6 (where .Site.RegularPages "Section" "blog") }}
<main id="home" class="container content pad-touch-only" style="margin-top:1rem;">
 <div class="columns">
  <div class="column is-3">
   <p>Welcome to yet another blog about computing ... </p>
  </div>
  <div class="column is-9">
   {{- range $i,$pg := $list_blogs }}
   <div class="box">
    <a href="{{ .RelPermalink }}">
     <div class="button is-primary is-small is-pulled-right">Read</div>
     <h1{{ if eq $i 0 }} class="mt-0"{{ end }}>{{ .Title }}</h1>
    </a>
   {{ partial "by-line.html" . }}
   {{ .Summary }}
   </div>
   {{- end }}
  </div>
 </div>
</main>
{{ end }}
