{{ $money_ad_max := ($.Page.Param "money_ad_max" | default 1) }}
{{- $count := ($.Page.Scratch.Get "money_ad_count" | default 0) }}
{{- if lt $count $money_ad_max }}
    {{- $.Page.Scratch.Set "money_ad_count" (add $count 1) }}
<fieldset class="money-ad">
    <legend>shameless monetization</legend>
    <p>GOOGLE AD HERE</p>
</fieldset>
{{- end }}